@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

.movie-details-container {
  display: flex;
}

.movie-image {
  max-width: auto; /* Ancho deseado del contenedor */
  height: 477.8px; /* Altura deseada del contenedor */
  border-radius: 5px;
}
/* styles.css */
/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* hasta aquí */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(3, 270px);
  grid-gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.movie-card {
  min-height: 439px;
  padding-bottom: 31px;
  cursor: pointer;
}

.movie-img {
  width: 100%;
  height: 398px;
  border-radius: 5px;
}

.paginationjs-pages ul {
  list-style: none;
}

/* Loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
